.navigation {
    display: flex; 
    justify-content: space-between; 
    background-color: #e2e2e2;
}
.logoandname {
    display: flex; 
    padding-left: 60px;
}
.navigation .logoandname img {
    padding-top: 20px;
}
.navigation .logoandname p {
    padding-left: 15px; 
    font-size: 36px; 
    font-family: 'Work Sans', sans-serif;
}
label {
    font-size: 30px;
    display: none;
}
.menu ul {
    padding-top: 25px;
    padding-right: 40px;
}
.navigation .menu li {
    display: inline; 
    padding-left: 20px; 
    padding-right: 20px; 
    font-size: 24px; 
    font-family: 'Work Sans', sans-serif;
}
.abouttitle p {
    text-align: center; 
    font-size: 36px; 
    font-family: 'Work Sans', sans-serif;
}
.imageandaboutme {
    display: flex; 
    justify-content: space-between;
    padding-bottom: 30px;
}
.imageandaboutme img {
    padding-left: 200px;
}
.imageandaboutme .aboutme {
    padding-right: 80px;
    width: 800px;
    text-align: left; 
    line-height: 2.0; 
    font-size: 24px; 
    font-family: 'Work Sans', sans-serif;
}
.footer {
    text-align: center; 
    margin-top: 10px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    background-color: #6B6B6B;
}
.footer p {
    font-size: 18px; 
    font-family: 'Work Sans', sans-serif; 
    color: #ffffff;
}
.footer .email a {
    font-size: 18px; 
    font-family: 'Work Sans', sans-serif; 
    color: #ffffff;}
.footer .linkedin a {
    font-size: 18px; 
    font-family: 'Work Sans', sans-serif; 
    color: #ffffff;}
@media only screen and (max-width: 600px) {
}